body {
  margin: 0;
  padding: 0;
}
.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.3)
    ),
    url(image/cow\ marker2.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.content-area {
  color: white;
  width: 40%;
  padding-left: 10%;
}
.content-area h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 25px;
}
.content-area p {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10%;
}
.content-area a {
  text-decoration: none;
  color: white;
  background-color: #e94b3cff;
  padding: 15px 28px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 3px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 1s;
}
.content-area a:hover {
  background-image: linear-gradient(white, #c25461);
  color: black;
}
.half-width {
  color: black;
  padding-right: 80px;
}
.half-width p {
  color: gray;
}
.flexible {
  display: flex;
  padding-top: 150px;
  padding-bottom: 100px;
}
iframe {
  border-radius: 5px;
  background-color: black;
  height: 420px;
  width: 400px;
}
.bg-img {
  padding-left: 10%;
}
img {
  width: 470px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
}
.background {
  background-color: #ebecf0;
}
.align-center {
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
}
.align-center h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 25px;
}
.align-center p {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.item-img {
  width: 56px;
  height: 56px;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box-item {
  width: 380px;
  height: 150px;
  background-color: #fef4f5;
  padding: 40px;
  margin: 1%;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
  transition: 1s;
}
.box-item:hover {
  background-color: white;
  transform: scale(0.9);
}

.box-text {
  margin-left: 30px;

  margin-top: -20px;
}
.box-text p {
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: gray;
}
.seek-Allah {
  display: flex;
  justify-content: center;
}
.seek-img {
  width: 350px;
  height: 350px;
  margin: 1%;
  border-radius: 10px;
  margin-top: 80px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
}

.post-item {
  width: 320px;
  background-color: #fef4f5;
  margin: 1%;
  border-radius: 10px;
  border: 1px solid rgb(224, 221, 221);
}

.post-item img {
  width: 320px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}
.item-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.text-post {
  padding: 28px;
  margin-top: -20px;
}
.post-item h2 {
  font-weight: 700;
}
.post-item p {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.post-item a {
  font-weight: bold;
  font-size: 20px;
  color: #e94b3cff;
  text-decoration: none;
  border-bottom: 2px solid #e94b3cff;
}
footer {
  background-color: #121212;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-footer {
  color: white;
  text-align: center;
}
footer h3 {
  font-size: 28px;
  font-family: "Lobster";
  color: #e94b3cff;
  letter-spacing: 3px;
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fef4f5;
  height: 200px;
  width: 100%;
  max-width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
}
.input-button {
}
label {
  position: absolute;
}
input {
  border: none;
  padding: 15px;
  width: 400px;
}
button {
  border: none;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 150px;

  background-color: #e94b3cff;
  color: white;
}
label:hover {
  border: 2px solid rgb(226, 217, 217);
}
button:hover {
  cursor: pointer;
  background-color: white;
  color: #e94b3cff;
  border: 1px solid gray;
}
